apiVersion: install.istio.io/v1alpha1
kind: IstioOperator
metadata:
  namespace: istio-system
spec:
  profile: default
  meshConfig:
    trustDomain: example.org
  values:
    global:
      hub: localhost:5000
      tag: my-build
      imagePullPolicy: "Always"
      imagePullSecrets:
        - secret-registry
    # This is used to customize the sidecar template
    sidecarInjectorWebhook:
      templates:
        spire: |
          spec:
            containers:
            - name: istio-proxy
            volumes:
            - name: workload-socket
              csi:
                driver: "csi.spiffe.io"
  components:
    pilot:
      k8s:
        env:
          # Disable istiod CA Sever functionality
          - name: ENABLE_CA_SERVER
            value: "true"
          # Check that istio-agent's namespace and service account match the ones in the JWT token presented in the connection
          - name: PILOT_ENABLE_XDS_IDENTITY_CHECK
            value: "true"
        overlays:
          - apiVersion: apps/v1
            kind: Deployment
            name: istiod
            patches:
              - path: spec.template.metadata.labels.spireSpiffeid
                value: istiod
              - path: spec.template.spec.containers.[name:discovery].volumeMounts[7]
                value:
                  name: spire-agent-socket
                  mountPath: "/run/spire/sockets"
                  readOnly: true
              - path: spec.template.spec.volumes[7]
                value:
                  name: spire-agent-socket
                  csi:
                    driver: "csi.spiffe.io"
    ingressGateways:
      - name: istio-ingressgateway
        enabled: true
        label:
          istio: ingressgateway
          spireSpiffeid: ingress
        k8s:
          overlays:
            - apiVersion: apps/v1
              kind: Deployment
              name: istio-ingressgateway
              patches:
                - path: spec.template.spec.volumes.[name:workload-socket]
                  value:
                    name: workload-socket
                    csi:
                      driver: "csi.spiffe.io"
